* {
  margin: 0;
}

.site-header {
  background: #eae7e7;
  padding: 1.5rem 0;
}

.site-main {
  background-image: url(images/image-football.png);
}

.container {
  width: 70%;
  margin: 0 auto;
}

.container .flex {
  display: flex;
  justify-content: space-between;
}

.container .flex p {
  padding-top: 15px;
}

.content-layout {
  text-align: center;
}

.content-layout h1 {
  font-size: 3rem;
  margin: 0;
  padding: 3rem 0;
  color: white;
}

.content-layout p {
  font-size: 2rem;
  line-height: 120%;
  color: whitesmoke;
  font-weight: 900;
  margin-bottom: 2rem;
}

.card {
  border: solid 1px grey;
  border-radius: 10px;
  height: 8rem;
  width: 100%;
  margin: 0.2rem auto;
}

.test {
  text-align: center;
  margin: 0 4rem;
}

.fa-brands {
  margin: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
}

.column {
  /* border: solid 1px red; */
  width: 25%;
  margin: 0 auto;
}

.area-link {
  position: absolute;
  /* top: 0;
  left: 0; */
  height: 8rem;
  width: 80%;
  z-index: 2;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.superbet-color {
  position: relative;
  background-color:#ea060a;
}

.novibet-color {
  position: relative;
  background-color: #151d2d;
}

.sambabet-color {
  position: relative;
  background-color: #2d405b;
}

.estrelabet-color {
  position: relative;
  background-color: #001d3d;
}


.tenbet-color {
  position: relative;
  background-color: #99f85c;
}

.f12bet-color {
  position: relative;
  background-color: #232429;
}

.parimatch-color {
  position: relative;
  background-color: #000000;
}

.joiabet-color {
  position: relative;
  background-color: #041b4d;
}

.betano-color {
  position: relative;
  background-color: #ff6701;
}

.bet7k-color {
  position: relative;
  background-color: #212425;
}





.rank {
  display: inline-block;
  color: white;
  opacity: 0.5;
  position: absolute;
  left: 1.5rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.bonus-offer {
  color: black;
  text-align: center;

}

.bonus-offer span {
  font-size: 1.4rem;
  font-weight: 700;
}

/* .fa-star, .fa-star-half-stroke {
  color:yellow;
  background: grey;
} */

.rank-text {
  margin-top: 0.5rem;
}

.column a {
  cursor: pointer;
  text-decoration: none;
}

.button-layout {
  background: #2fb736;
  color: white;
  border-radius: 1px;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
  border-color: #2fb736;
  z-index: 99;
}

/* .column > a {
  z-index: 100;
} */

/* a {
  background: black;
} */

img {
width: 150px;
display: block;
height: 60px;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease;
}